<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arksh.mapper.AddressExpendMapper">
  <select id="query" parameterType="java.util.Map" resultType="java.lang.String">
    select id from address where 1=1
    <if test="person_id != null">
      and person_id = #{person_id}
    </if>
    <if test="keyword != null">
      and (city like CONCAT('%',#{keyword},'%') or province like CONCAT('%',#{keyword},'%'))
    </if>
  </select>
  <select id="queryByPersonName" parameterType="string" resultType="java.util.HashMap">
    select t.id,t.city,t.province,t.country,p.name,p.age from address t left join person p on p.id = t.person_id where 1 = 1
    <if test="_parameter != null">
      and p.name like CONCAT('%',#{_parameter},'%')
    </if>
  </select>
</mapper>